@import url('http://yui.yahooapis.com/combo?2.8.0r4/build/reset/reset-min.css');

@media screen, projection, tv
{
	/* Error Page */
	#errorContainer { margin: 0 auto; width: 960px; }
	#errorContent { text-align: center; margin: 50px 0; }
	
	/* Main Page */
	body, html { background-color: #000; }
	p { margin-top: 30px; }
	p, ul { font-size: 1.4em; }
	
	/* Helper Classes */
	.noscript { color: #FFF; }
	.hidden { display: none; }
	.content { text-align: left; color: #ccc; }
	.header { color: #FFF; font-size: 1.8em; }
	.texthighlight { color: #FFF; font-size: 1.4em; }
	.contentlink:active, .contentlink:visited , .contentlink:link { color: #ccc; font-size: 1em; text-decoration: none; border-bottom: 1px dotted #ccc; }
	.contentlink:hover, .contentlink:focus { background-color: #ccc; color: #000; font-size: 1em; text-decoration: none; outline: 0; }
	
	/* Page Load State */
	#aboutContent, #portfolioContent, #updatesContent, #photosContent, #contactContent, #printContainer { display: none; }
	
	/* Header */
	#header { border-bottom: 1px solid #ccc; height: 100px; overflow: hidden; }
	#header h1{ float: left; margin-top: 80px; }
	#header .logo { float: right; background:url('../images/screen_sprite.png'); height: 71px; width: 352px; border: 0; display: block; background-position: 0px -96px; }
	
	/* Navigation Links */		
	#main { width: 960px; overflow: hidden; }
	#main .navlink:active, #main .navlink:visited, #main .navlink:link { color: #ccc; font-size: 8em; text-decoration: none; font-weight: 300; }
	#main .navlink:hover, #main .navlink:focus { outline: 0; color: #FFF; }

	/* About Complete */				
	#aboutContent .opening { color: #FFF; font-size: 2.2em; }
		
	/* Portfolio */		
	#portfolioContent h2 { font-size: 1.4em; margin-top: 30px; }	
	#portfolioContent ul { padding-left: 40px; }
	#portfolioContent li { list-style-type: disc; color: #FFF; }
	#portfolioContent .projectPreviewItem { list-style-type: none; display: inline; padding-right: 20px; }
	#portfolioContent .thumbshot { color: #000; font-size: 0em; text-decoration: none; }
	
	/* Updates Complete */
	#updatesContent { position: relative; height: 400px; }
	
	#updatesContent .contentlink:active, #updatesContent .contentlink:visited , #updatesContent .contentlink:link { border-bottom: 0px }
	
	#updatesContent .footer { font-size: 2em; color: #ccc; }
	#twitter, #delicious, #googleReader { height: 340px; width: 253px; position: absolute; top:10px; bottom: 10px;}
	#twitter { left:10px } #delicious { left:273px } #googleReader{ left:536px }

	/* Photos Complete */
	#flickrflash { width:400px; text-align:center; font-size: 1.4em; }
		
	/* Contact Complete */
	#contactContent { width: 500px; overflow: hidden; margin-left: 100px; }
	#emailiconContainer, #socialiconContainer { margin: 10px 0; }
	#emailiconContainer a { padding: 6px; }
	.sprite { background:url('../images/screen_sprite.png') }
	
	.emailicons { height: 64px; width: 64px; border: 0; }
	.socialicons { height: 32px; width: 32px; border: 0; }
	
	.email { background-position: 0px 0px; }
	.iphone { background-position: -64px 0px; }
	.twitter { background-position: -128px 0px; }
	.facebook { background-position: -192px 0px; }
	.linkedin { background-position: -256px 0px; }
	.friendfeed { background-position: 0px -64px; }
	.delicious { background-position: -32px -64px; }
	.youtube { background-position: -64px -64px; }
	.flickr { background-position: -96px -64px; }
	.lastfm { background-position: -128px -64px; }
	.yahoo { background-position: -160px -64px; }
	.gprofile { background-position: -192px -64px; }
	.openid { background-position: -224px -64px; }
	.greader { background-position: -256px -64px; }
	.blogger { background-position: -288px -64px; }
	.feed { background-position: -320px -64px; }
}
@media print
{
	a { text-decoration: none; color: #000; }
	h2 { font-size: 1em; font-weight: normal; }
	
	.texthighlight { font-size: 1.4em; }
	.header, .navlink { font-size: 1.8em; }
	
	#header, #portfolioContent .thumbshot, #updatesContainer, #updatesContent, #twitter, #delicious, #googleReader, #photosContainer, #emailiconContainer, #socialiconContainer { display:none; }
	#updatesContent, #twitter, #delicious, #googleReader { height: 0px; } /* strange gap needs investigating */
}
@media only screen and (max-device-width: 480px)
{
	#header .logo { float: right; background:url('../images/iphone_sprite.png'); height: 71px; width: 352px; border: 0; display: block; background-position: 0px -176px; }
	#emailiconContainer a { padding: 6px; }
	.sprite { background:url('../images/iphone_sprite.png') }
	
	.emailicons { height: 64px; width: 64px; border: 0; }
	.socialicons { height: 32px; width: 32px; border: 0; }
	
	.email { background-position: 0px 0px; }
	.iphone { background-position: -128px 0px; }
	.twitter { background-position: -256px 0px; }
	.facebook { background-position: -384px 0px; }
	.linkedin { background-position: -512px 0px; }
	.friendfeed { background-position: 0px -128px; }
	.delicious { background-position: -48px -128px; }
	.youtube { background-position: -96px -128px; }
	.flickr { background-position: -144px -128px; }
	.lastfm { background-position: -192px -128px; }
	.yahoo { background-position: -240px -128px; }
	.gprofile { background-position: -288px -128px; }
	.openid { background-position: -336px -128px; }
	.greader { background-position: -384px -128px; }
	.blogger { background-position: -432px -128px; }
	.feed { background-position: -480px -128px; }
}