* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *behavior: url(boxsizing.htc); }

@font-face {
    font-family: "DanielRegular";
    src: url('../assets/fonts/Daniel/daniel-webfont.eot');
    src: url('../assets/fonts/Daniel/daniel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Daniel/daniel-webfont.woff') format('woff'),
         url('../assets/fonts/Daniel/daniel-webfont.ttf') format('truetype'),
         url('../assets/fonts/Daniel/daniel-webfont.svg#DanielRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "mplus-1c-regular";
    src: url('../assets/fonts/mplus-1c/mplus-1c-regular-webfont.eot');
    src: url('../assets/fonts/mplus-1c/mplus-1c-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/mplus-1c/mplus-1c-regular-webfont.woff') format('woff'),
         url('../assets/fonts/mplus-1c/mplus-1c-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/mplus-1c/mplus-1c-regular-webfont.svg#mplus-1c-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mplus-1c-light";
    src: url('../assets/fonts/mplus-1c/mplus-1c-light-webfont.eot');
    src: url('../assets/fonts/mplus-1c/mplus-1c-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/mplus-1c/mplus-1c-light-webfont.woff') format('woff'),
         url('../assets/fonts/mplus-1c/mplus-1c-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/mplus-1c/mplus-1c-light-webfont.svg#mplus-1c-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

.logo {
    color: #fff;
    font-family: "DanielRegular";
    font-size: 42px; font-size: 4.2rem; margin-bottom: 12px;
    margin: 40px 0;
    text-align: right;
}

.logo-link, .logo-link:hover, .logo-link:active, .logo-link:visited {
    color: #fff;
}

/* Heading */

.heading {
    position:relative;
}

#g-plusone {
    position:absolute;
    top:42px;
    left:340px;
}

.title {
    color: #fff;
    font-family: "mplus-1c-light";
    font-size: 28px; font-size: 2.8rem;
    margin-bottom: 10px;
}

/* .other-things is used on the 404 page by Google Custom Search */
.subtitle, .other-things {
    color: #fff;
    font-family: "mplus-1c-regular";
    font-size: 15px; font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 5px;
}

/* Details */

.details {
    text-align: right;    
}

.contact-link-text {
    font-family: "mplus-1c-regular";
    font-size: 15px; font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 5px;
}

/* ORBIT */

.orbit-link:hover, .orbit-link:focus, .orbit-link:active {
    color: #888; text-decoration: underline;
}

/* Footer */ 

footer {
    text-align: center;
}

footer li {
    display: inline;
}

.footer-text {
    margin: 50px 0 5px 0;
    color: #888;
    font-family: "mplus-1c-light";
    font-size: 12px; font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.footer-icon {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: .7;
}
.footer-icon:hover, .footer-icon:focus, .footer-icon:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* General */

.link-icon {
    vertical-align: middle;
}

.whitespace {
    margin-top: 30px;
}

.hidden {
    display: none;
}
