@font-face {
  font-family: "DanielRegular";
  src: url('../fonts/Daniel/daniel-webfont.eot');
  src: url('../fonts/Daniel/daniel-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Daniel/daniel-webfont.woff') format('woff'), url('../fonts/Daniel/daniel-webfont.ttf') format('truetype'), url('../fonts/Daniel/daniel-webfont.svg#DanielRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mplus-1c-regular";
  src: url('../fonts/mplus-1c/mplus-1c-regular-webfont.eot');
  src: url('../fonts/mplus-1c/mplus-1c-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mplus-1c/mplus-1c-regular-webfont.woff') format('woff'), url('../fonts/mplus-1c/mplus-1c-regular-webfont.ttf') format('truetype'), url('../fonts/mplus-1c/mplus-1c-regular-webfont.svg#mplus-1c-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mplus-1c-light";
  src: url('../fonts/mplus-1c/mplus-1c-light-webfont.eot');
  src: url('../fonts/mplus-1c/mplus-1c-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mplus-1c/mplus-1c-light-webfont.woff') format('woff'), url('../fonts/mplus-1c/mplus-1c-light-webfont.ttf') format('truetype'), url('../fonts/mplus-1c/mplus-1c-light-webfont.svg#mplus-1c-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #000000;
    color: #999999;
    font-family: "mplus-1c-regular";
    font-size: 15px;
    padding-top: 100px;
    padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "mplus-1c-light";
}

h2 small,
h3 small {
    color: inherit;
    font-size: 14px;
}

a {
    color: inherit;
}

a:hover, a:active, a:focus {
  color: #ffffff;
  outline: none;
}

ul.unstyled {
    font-size: 13px;
}

.page-header {
    border: 0;
    margin: 0;
}

.justify {
    text-align: justify;
}

/*Carousel*/

.carousel-control {
    background: #333;
    line-height: 35px;
    opacity: 1;
}

.carousel-caption {
    background: #333;
}

/*Grid*/

.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}

/*Navbar*/

.navbar-inner {
    background-color: #000000;
    background-image:none
}

.navbar .brand {
    font-size: 40px;
    font-family: "DanielRegular";
    padding:20px;
}

.navbar .nav {
    margin: 20px 10px 20px 0;
}

.navbar .btn,
.navbar .btn-group {
    margin-top: 20px;
}

.navbar .nav > li > a:active,
.navbar .nav > li > a:focus {
    color: #ffffff;
}

.navbar .nav .active > a {
    color: inherit;
}

/*Footer*/
footer {
    text-align: center;
}

footer li {
	display: inline;
}

footer li a {
    background: url("../img/icons/browsers.png") no-repeat;

    height: 16px;
	width: 16px;
	display: inline-block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;
}

footer li a:hover, footer li a:active, footer li a:focus {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

footer li span {
    position: relative;
	left: -9999px;
}

.chrome {
	background-position: 0 0;
}

.firefox {
	background-position: -66px 0;
}

.ie {
	background-position: -132px 0;
}

.opera {
	background-position: -198px 0;
}

.safari {
	background-position: -264px 0;
}

/*Sidebar*/

.sidebar-nav {
    padding: 0;
    min-width: 175px;
}

.nav .nav-header {
    text-transform: none;
    padding: 0;
    margin-bottom: 5px;
}

.nav-list > li > a {
    background: url("../img/icons/icons.png") no-repeat;
    margin-bottom: 10px;
    padding: 5px 35px;
    white-space: nowrap;
    font-size: 13px;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-left: 0px;
  margin-right: 0px;
  text-shadow: 0 0 0;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
    color: #ffffff;
    text-shadow: 0 0 0;
    background-color: #000000;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    border-radius: 3px;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #000000;
}

.amazon {
	background-position: 0 0 !important;
}

.facebook {
	background-position: 0 -148px !important;
}

.github {
	background-position: 0 -296px !important;
}

.gmail {
	background-position: 0 -370px !important;
}

.google-plus {
	background-position: 0 -444px !important;
}

.jsfiddle {
	background-position: 0 -592px !important;
}

.linkedin {
	background-position: 0 -666px !important;
}

.picasa {
	background-position: 0 -814px !important;
}

.rss {
	background-position: 0 -888px !important;
}

.skype {
	background-position: 0 -962px !important;
}

.slideshare {
	background-position: 0 -1036px !important;
}

.spotify {
	background-position: 0 -1110px !important;
}

.stackoverflow {
	background-position: 0 -1184px !important;
}

.tel {
	background-position: 0 -740px !important;
}

.twitter {
	background-position: 0 -1258px !important;
}

.vCard {
	background-position: 0 -1332px !important;
}

.youtube {
	background-position: 0 -1406px !important;
}

/*Responsive Web Design Page*/

.rwd {
    height:200px;
    padding: 0 0 20px 20px;
}

/*Responsive Tweaks*/

@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding-top: 0;
    }

    .navbar .brand {
        padding: 20px 0;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 0;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size:25px;
    }

    .btn-navbar {
        float: left;
    }

    .navbar .btn,
    .navbar .btn-group {
        margin-top: 0px;
        margin-left: 15px;
    }
}