@import url('http://yui.yahooapis.com/combo?2.8.0r4/build/reset/reset-min.css');

@media screen, projection, tv
{

/* Error Page */
#errorContainer { 
	margin: 0 auto; 
	width: 960px; 
}
#errorContent { 
	margin: 50px 0;
	text-align: center;  
}
/* End Error Page */
	
/* General Styles */
body, html { 
	background-color: #000; 
}
p { 
	margin-top: 30px; 
}
p, ul { 
	font-size: 1.4em; 
}
.noscript { 
	color: #FFF; 
}
.hidden { 
	display: none; 
}
/* End General Styles */

/* Logo Link */
.logolink:hover, .logolink:focus, .logolink:active, .logolink:visited, .logolink:link { 
	color: #fff; 
	float:right; 
	font-size: 4em; 
	outline: 0;  
	text-decoration: none; 
}
/* End Logo Link */

/* Navigation Link */
.navlink:active, .navlink:visited, .navlink:link { 
	color: #ccc;
	font-size: 7em; 
	font-weight: 300; 
	text-decoration: none; 
}
.navlink:hover, .navlink:focus { 
	color: #fff;
	outline: 0;  
}
/* End Navigation Link */

/* Content Text */
.content { 
	color: #8F8686; 
	text-align: left; 
}
.header { 
	color: #fff; 
	font-size: 1.8em; 
}
.opening { 
	color: #ccc; 
	font-size: 1.6em; 
}
.texthighlight { 
	color: #ccc; 
	font-size: 1.2em; 
}
/* End Content Text */

/* Content Text Link */
.contentlink:active, .contentlink:visited , .contentlink:link { 
	border-bottom: 1px solid #575757; 
	color: #8F8686; 
	font-size: 1em; 
	text-decoration: none; 
}
.contentlink:hover, .contentlink:focus { 
	background-color: #ccc; 
	color: #000; 
	font-size: 1em; 
	text-decoration: none; outline: 0; 
}
/* End Content Text Link */

/* Image Link */
.imagelink:active, .imagelink:visited, .imagelink:link, .imagelink { 
	border: 2px solid #575757; 	
	text-decoration: none; 
}
.imagelink:hover, .imagelink:focus { 
	border: 2px solid #ccc; 	
	text-decoration: none; 
}
/* End Image Link */	

/* Page Load State */
#aboutContent, #portfolioContent, #updatesContent, #photosContent, #contactContent, #printContainer { 
	display: none; 
}
/* End Page Load State */

/* Header */
#header { 
	border-bottom: 1px solid #ccc; 
	height: 100px; 
	overflow: hidden; 
}
#header h1{ 
	float: left; 
	margin-top: 80px; 
}
/* End Header */
	
/* Main Container */		
#main { 
	overflow: hidden; 
	position: relative; 
	width: 960px;
}
/* End Main Container */	

/* About Complete */				
#aboutContent{
}
/* End About */
		
/* Portfolio */		
#portfolioContent{
	margin: 0 auto;
}
#portfolioContent h2 { 
	font-size: 1.4em; 
	margin-top: 30px; 
}	
#portfolioContent ul { 
	margin-top: 30px; 
}
#portfolioContent li { 
	color: #FFF; 
	display: inline;
	list-style-type: none; 
	margin-left: 20px;
}
/* End Portfolio */
	
/* Updates */
#updatesContent { 
	height: 600px; 
	position: relative; 
}
#updatesContent .contentlink:active, #updatesContent .contentlink:visited , #updatesContent .contentlink:link { 
	border-bottom: 0px 
}
#updatesContent .footer { 
	color: #ccc; 
	font-size: 2em; 
}
#twitter, #delicious, #googleReader { 
	bottom: 10px;
	height: 340px; 
	position: absolute; 
	top:10px; 
	width: 253px; 
}
#twitter { 
	left:10px 
} 
#delicious { 
	left:273px 
} 
#googleReader{ 
	left:536px 
}
/* End Updates */

/* Photos */
#flickrflash { 
	font-size: 1.4em; 
	text-align:center; 
	width:400px; 
}
/* End Photos */

/* Contact */
#contactContent { 
	margin-left: 100px;
	width: 500px; 
	overflow: hidden;
}
#emailiconContainer, #socialiconContainer { 
	margin: 10px 0; 
}
#emailiconContainer a { 
	padding: 6px; 
}
.sprite { background:url('../images/screen_sprite.png') }
.emailicons { height: 64px; width: 64px; border: 0; }
.socialicons { height: 32px; width: 32px; border: 0; }
.email { background-position: 0px 0px; }
.iphone { background-position: -64px 0px; }
.twitter { background-position: -128px 0px; }
.facebook { background-position: -192px 0px; }
.linkedin { background-position: -256px 0px; }
.friendfeed { background-position: 0px -64px; }
.delicious { background-position: -32px -64px; }
.youtube { background-position: -64px -64px; }
.flickr { background-position: -96px -64px; }
.lastfm { background-position: -128px -64px; }
.yahoo { background-position: -160px -64px; }
.gprofile { background-position: -192px -64px; }
.openid { background-position: -224px -64px; }
.greader { background-position: -256px -64px; }
.blogger { background-position: -288px -64px; }
.feed { background-position: -320px -64px; }
/* End Contact */
}
@media print
{
a { 
	color: #000; 
	text-decoration: none; 
}
h2 { 
	font-size: 1em; 
	font-weight: normal; 
}
.texthighlight { 
	font-size: 1.4em; 
}
.header, .navlink { 
	font-size: 1.8em; 
}
#header, #updatesContainer, #updatesContent, #twitter, #delicious, #googleReader, #photosContainer, #emailiconContainer, #socialiconContainer { 
	display:none; 
}
#updatesContent, #twitter, #delicious, #googleReader { 
	height: 0px; 
} /* strange gap needs investigating */
}
@media only screen and (max-device-width: 480px)
{
#emailiconContainer a { 
	padding: 6px; 
}
.sprite { background:url('../images/iphone_sprite.png') }
.emailicons { height: 64px; width: 64px; border: 0; }
.socialicons { height: 32px; width: 32px; border: 0; }
.email { background-position: 0px 0px; }
.iphone { background-position: -128px 0px; }
.twitter { background-position: -256px 0px; }
.facebook { background-position: -384px 0px; }
.linkedin { background-position: -512px 0px; }
.friendfeed { background-position: 0px -128px; }
.delicious { background-position: -48px -128px; }
.youtube { background-position: -96px -128px; }
.flickr { background-position: -144px -128px; }
.lastfm { background-position: -192px -128px; }
.yahoo { background-position: -240px -128px; }
.gprofile { background-position: -288px -128px; }
.openid { background-position: -336px -128px; }
.greader { background-position: -384px -128px; }
.blogger { background-position: -432px -128px; }
.feed { background-position: -480px -128px; }
}