vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Dec 2009 21:45:23 -0000
vti_author:SR|LAPTOP\\Ian Crowther
vti_modifiedby:SR|LAPTOP\\Ian Crowther
vti_nexttolasttimemodified:TW|08 Dec 2009 21:45:17 -0000
vti_timecreated:TR|08 Dec 2009 14:15:57 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|error404.html index.html
vti_syncofs_localhost\\c\:\\users\\ian crowther\\iancrowther/c\:/users/ian crowther/iancrowther:TX|08 Dec 2009 12:57:28 -0000
vti_syncwith_localhost\\c\:\\users\\ian crowther\\iancrowther/c\:/users/ian crowther/iancrowther:TW|08 Dec 2009 14:15:57 -0000
vti_cacheddtm:TX|08 Dec 2009 21:45:23 -0000
vti_filesize:IR|6111
vti_cachedlinkinfo:VX|S|http://yui.yahooapis.com/combo S|../images/screen_sprite.png S|../images/iphone_sprite.png
vti_cachedsvcrellinks:VX|NSHS|http://yui.yahooapis.com/combo FSUS|images/screen_sprite.png FSUS|images/iphone_sprite.png
